*.vcf
data/*
.Rproj.user
Curso_CongresoBiolEvolMex/Seccion_III/meta/genotypes_vcf.txt
Curso_CongresoBiolEvolMex/Seccion_III/meta/Metadatos_Analisis_Agrupamiento.html
Curso_CongresoBiolEvolMex/Seccion_III/meta/Samples_and_Accessions.xlsx
