*.vcf
data/*
Curso_CongresoBiolEvolMex/Seccion_III/vcf/*
.Rproj.user
Curso_CongresoBiolEvolMex/Seccion_III/subset/
Curso_CongresoBiolEvolMex/Seccion_III/pruning/
Curso_CongresoBiolEvolMex/Seccion_III/vcf/Zea_mays_vcf.zip
Curso_CongresoBiolEvolMex/Seccion_III/meta/genotypes_vcf.txt
Curso_CongresoBiolEvolMex/Seccion_III/meta/Samples_and_Accessions.xlsx
*.Rdata
*.Rhistory
*.map
*.ped
*.fam
*.in
*.out
*.log
*.nosex
*.gz
*.zip
Curso_CongresoBiolEvolMex/Seccion_III/.RData
*.P
*.Q
